<div id="wedding-host">
    <div class="leaf one left"></div>
    <div class="leaf two left"></div>
    <div class="leaf three left"></div>

    <div class="leaf one right"></div>
    <div class="leaf two right"></div>
    <div class="leaf three right"></div>

    <div id="photos-of-us" class="top-image">
        <div class="frame-image top left">
            <img src="/Content/images/wedding/top-left.png" />
        </div>
        <div class="frame-image top right">
            <img src="/Content/images/wedding/top-right.png" />
        </div>

        <img src="/Content/images/wedding/top_picture.jpg" alt="banner" />

        <div class="frame-image bottom left">
            <img src="/Content/images/wedding/bottom-left.png" />
        </div>
        <div class="frame-image bottom right">
            <img src="/Content/images/wedding/bottom-right.png" />
        </div>
    </div>

    <div class="title">
        <div class="message">
            <div class="left">You are invited to</div>
            <div class="logo">
                <img src="/Content/images/wedding/names.png" />
            </div>
            <div class="right">Wedding Day</div>
        </div>
        <div class="date">Saturday 30th April 2016</div>
    </div>

    <div style="position:relative;" data-bind="router: { module : router.activeItem, cacheViews: false, transition: 'entrance' }"></div>
</div>