<div id="login-host">
    <div class="container-fluid">

        <h3>Welcome, please enter your personalised code below and enter to RSVP and access all manor of information</h3>

        <div class="row" id="login">
            <div class="col-sm-3 code">
                <label>Your Code:</label>
            </div>
            <div class="col-sm-6 input">
                <input id="loginCode" class="form-control" type="text" />
                <span class="fa fa-spin fa-spinner"></span>
            </div>
            <div class="col-sm-3 button">
                <button type="button" class="btn btn-lg btn-default" data-bind="click: login">
                    Enter
                </button>
            </div>
        </div>
    </div>
</div>