<div>
    <h3>
        This Site
    </h3>
    <div class="article style-container">
        <div style="margin:5px">
            <p>
                Welcome to by website, this is a blog / personal project of mine that I use to further my knowledge on all this web development related. Those of you who think I spend
                more time coding the site than actually writing content would be 100% correct. However the more and more complete the site becomes the more content I am hoping to put
                up on it. That is until I decided to spend 6 months re-writing the damned thing again!
            </p>
            <p>
                I am a software developer with almost a decade of experience and in that time if have had a number of jobs in the industry, helped create a number of very large scale
                business to business web (and other) applications and yet still not finished my own website! But with each and every re-write the site gets that little bit better and
                so does my working knowledge of bleeding edge web technologies.
            </p>
            <p>
                I used to run a site called PCRules, the URL www.pcrules.com is now pointing here. This site contained reviews for PC games and hardware, and in its time was fairly
                popular, for a site that I ran from my bedroom in collage. There was a time that when you searched for Saitek R440 in google that PCRules.com would be the number 1 result.
                Thanks to not updating the site in years and now moving the URL to point here PCRules is nowhere to be seen. However I have ported all the old PCRules content to this site
                for history’s sake.
            </p>
            <p>
                These days I spend more time playing with code than I do playing with games so please follow me on twitter to see what codey related nonsense I get myself into.
            </p>
        </div>
    </div>
</div>