<div>
    <h3>
        TooksCMS
    </h3>
    <div class="article style-container">
        <div style="margin:5px">
            <p>
                The only personal project that I currently have underway is the site you are currently looking at. It is a SQL driven content
                management system (CMS) built on the Microsoft stack sporting a single page DurandalJS based front end.
            </p>
            <p>
                I started writing this CMS as a personal project to advance my knowledge. So bearing that in mind the code is a bit of a liquorish
                all sort of technologies and coding patterns! I hope that the newer code is of a better standard than the older code, but never the
                less some of the older stuff I’m still pretty happy with. That said, some of my older ideas are currently haunting me a little when
                trying to improve the overall quality of the project.
            </p>
            <hr />
            <h4>Featues</h4>
            <ul id="features">
                <li class="language">Customisable Articles</li>
                <li class="language">Review Article Types with Customisable Criteria</li>
                <li class="language">Image Galleries</li>
                <li class="language">Tags</li>
                <li class="language">Comments</li>
                <li class="language">Code Snippets</li>
                <li class="language">YouTube and Vimeo Support</li>
                <li class="language">Area Configurable Sidebar with Twitter Integration</li>
                <li class="language">Site Access Statistics</li>
                <li class="language">Site Search</li>
                <li class="language">Authenticated Administration Section with User Accounts</li>
                <li class="language">Customisable Static Routing</li>
            </ul>
            <hr />
            <h4>Core Languages and Technologies Used</h4>
            <ul id="languages">
                <li class="language">ASP.Net MVC 5.2</li>
                <li class="language">HTML5</li>
                <li class="language">JavaScript</li>
                <li class="language">XML</li>
                <li class="language">XSLT</li>
                <li class="language">CSS3</li>
                <li class="language">MSSQL</li>
                <li class="language">C#.Net</li>
                <li class="language">.Net Framework 4.5</li>
                <li class="language">Entity Framework 5.0</li>
                <li class="language">DurandalJS</li>
                <li class="language">KnockoutJS</li>
                <li class="language">jQuery</li>
                <li class="language">MomentJS</li>
            </ul>
        </div>
    </div>
</div>