<div id="about">
    <h3>
        About
    </h3>
    <div class="article style-container">
        <div style="margin:5px">
            <p>
                Welcome to my website, this is my technical playground where I will post about anything that takes my fancy. This website
                has been written by me, from scratch. Why, I hear you ask, when there are loads of blog engines available do I write my own? Because I can.
            </p>
            <p>
                I am a software developer with a few years in the industry and have been very slowly writing this site as a side line
                to my day job to further develop my skills in all that is new and flashy in the glamorous world of web development.
            </p>
            <p>
                So now that I have created this site, I’m going to use it to bug the world with my views on things like video games, films and music.
                I will post code snippets and attempt to be helpful to those who are struggling with issues I have already struggled with and overcome.
            </p>
            <p>
                I used to run a site called <a href="http://pcrules.com" target="_blank">PC Rules</a> back in my youth which has over the past 5 or so years died a bit of a death. However still even now
                if you search for <a href="https://www.google.co.uk/search?q=Saitek+R440" target="_blank">Saitek R440 in Google</a> we are still in the top 3 (previously number 1) in the search results.
                My long term plan is to port all the old reviews into the new engine and point pcrules.com to this site.
            </p>
            <h2>Browser Support</h2>
            <hr />
            <p>
                This site is designed to be run on the latest browsers with javascript enabled. It curren't doesn't fully support IE9 and below, and unless i find the time it never will.
                If you are a Windows XP user who cannot upgate to IE10, get a better browser. Click on the FireFox or Google Chrome image below for more information.
                <span id="browsers">
                    <a href="http://www.mozilla.org/en-US/firefox/fx/" target="_blank"><img class="browser" src="/Content/Images/Icons/icon_ff36x36.png" alt="FireFox" /></a>
                    <img class="browser" src="/Content/Images/Icons/icon_ie36x36.png" alt="Internet Explorer" />
                    <a href="https://www.google.com/chrome/" target="_blank"><img class="browser" src="/Content/Images/Icons/icon_gc36x36.png" alt="Google Chrome" /></a>
                </span>
            </p>
            <h2>Core Languages and Technologies Used</h2>
            <hr />
            <div id="languages">
                <div class="language">ASP.Net MVC 5.1</div>
                <div class="language">ASP.Net MVC 5.1 Razor</div>
                <div class="language">HTML5</div>
                <div class="language">JavaScript</div>
                <div class="language">XML</div>
                <div class="language">XSLT</div>
                <div class="language">CSS3</div>
                <div class="language">MSSQL</div>
                <div class="language">C#.Net</div>
                <div class="language">.Net Framework 4.5</div>
                <div class="language">Entity Framework 5.0</div>
            </div>
            <h2>JavaScript Libraries and Plugins</h2>
            <div class="splitter"></div>
            <div id="plugins">
                <div class="plugin">
                    <div class="name"><a href="http://jquery.com/" target="_blank">jQuery</a></div>
                    jQuery is a fast and concise JavaScript Library that simplifies HTML document traversing, event handling, animating, and Ajax interactions for rapid web development. jQuery is designed to change the way that you write JavaScript.
                </div>
                <div class="plugin">
                    <div class="name"><a href="http://jqueryui.com/" target="_blank">jQuery UI</a></div>
                    jQuery UI provides abstractions for low-level interaction and animation, advanced effects and high-level, themeable widgets, built on top of the jQuery JavaScript Library, that you can use to build highly interactive web applications.
                </div>
                <div class="plugin">
                    <div class="name"><a href="http://knockoutjs.com/" target="_blank">Knockout JS</a></div>
                    Knockout is a JavaScript library that helps you to create rich, responsive display and editor user interfaces with a clean underlying data model. Any time you have sections of UI that update dynamically (e.g., changing depending on the user’s actions or when an external data source changes), KO can help you implement it more simply and maintainably.
                </div>
                <div class="plugin">
                    <div class="name"><a href="http://alexgorbatchev.com/SyntaxHighlighter/" target="_blank">SyntaxHighlighter</a></div>
                    <div class="description">SyntaxHighlighter is a fully functional self-contained code syntax highlighter developed in JavaScript</div>
                </div>
            </div>
        </div>
    </div>
</div>